{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block pageHeading %}Register{% endblock %}

{% block main %}
    {{ form_start(registrationForm) }}
        <div class="mb-3">
            {{ form_label(registrationForm.firstName) }}
            {{ form_widget(registrationForm.firstName) }}
            {{ form_errors(registrationForm.firstName) }}
        </div>
        <div class="mb-3">
            {{ form_label(registrationForm.lastName) }}
            {{ form_widget(registrationForm.lastName) }}
            {{ form_errors(registrationForm.lastName) }}
        </div>
        <div class="mb-3">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_errors(registrationForm.email) }}
        </div>
        <div class="mb-3">
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div>
        <div class="mb-3">
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms, 'I agree to the terms', {'label_attr': {'class': 'form-check-label'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
